.sell_container{
    padding: 40px;
    margin-top: 70px;
}

.sells_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sell_title{
    width: 85%;
    height: 90px;
    background-color: #D2D2D2;

    font-size: 26px;
    padding: 25px;
    margin-bottom: 20px;
}

.new_sell_button{
    width: 10%;
    height: 90px;
}
.new_sell_button button{
    width: 150px;
    height: 90px;
    font-size: 26px;
    background-color: #674278;
    color: #fff;
    margin-top: 0;
    border-radius: 15px;
}