.client_container{
    padding: 40px;
    margin-top: 70px;
}


.MuiButtonBase-root.MuiCardActionArea-root{
    width: 100%;
    height: initial;
}

.clients_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client_title{
    width: 85%;
    height: 90px;
    background-color: #D2D2D2;

    font-size: 26px;
    padding: 25px;
    margin-bottom: 20px;
}

.new_client_button{
    width: 10%;
    height: 90px;
}
.new_client_button button{
    width: 150px;
    height: 90px;
    font-size: 26px;
    background-color: #674278;
    color: #fff;
    margin-top: 0;
    border-radius: 15px;
}

.MuiCard-root{
    margin:20px;
}
