/* // .ant-btn-primary, .ant-btn {
//     border-color: transparent;
// } */
.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
    display: none;
  }

.ant-input{
  background-color: #c4c4c4;
  border-radius: 10px 10px 0px 0px;
  color: #000;
}

.login_title{
  height: 50px;
  margin: 0px;
  text-align-last: center;
  font-size: xx-large;
  padding: 1px;
}

h3{
  display: inline;
}

.login_footer{
  margin-top: 5%;
  background-color: #c4c4c4;
  border-radius: 0px 0px 10px 10px;
  color: #000;
  display: flex;
  width: 100%;
  align-items: baseline;
  place-content: center;
}

.login_footer a {
  color: #0030DB;
}


.card_login{
  background-color: #674278;
  border-radius: 0px 0px 1px 10px;  
  color: white;
  height: 100%;
  display: grid;
  padding: 1% 20%;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 15vh 15vh 15vh 5vh;
  grid-gap: 5px;
  grid-template-areas:"divI1 divI2 divI2"
                      "divI3 divI4 divI5"
                      "divI6 divI7 divI8"
                      "divBtn divBtn divBtn"
}

.site-card-border-less-wrapper{
    text-align: -webkit-center;
    position: absolute;
    width: 30%;
    height: 35%;
    top: 25%;
    left: 35%;
}

.page_title{
  background-color: #c4c4c4;
  color: #000;
}

.ant-btn{
  justify-self: center;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.ant-input{
  height: 50px;
  margin-bottom: 15px;
  width: 400px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.div1 .ant-input{
  width: 400px;
}


.divI1{
  grid-area: divI1;
  align-self: center;
}

.divI1 .ant-input{
  width: 400px;
}

.divI2{
  grid-area: divI2;
  align-self: center;
  margin-left: 130px;
}

.divI2 .ant-input{
  width: 400px;
}

.divI3{
  grid-area: divI3;
}
.divI4{
  grid-area: divI4;
  margin-left: -30%;
}
.divI5{
  grid-area: divI5;
  margin-left: -50%;
}
.divI6{
  grid-area: divI6;
}

.divI7{
  grid-area: divI7;
  margin-left: -30%;
}

.divI8{
  grid-area: divI8;
  margin-left: -50%;
}

.divBtn{
  grid-area: divBtn;
  justify-self: center;
}