/* // .ant-btn-primary, .ant-btn {
//     border-color: transparent;
// } */
/*.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
    display: none;
  }

.login_title{
  background-color: #c4c4c4;
  border-radius: 10px 10px 0px 0px;
  color: #000;
}

.login_title h3{
  padding: 6px;
}

.login_footer{
  margin-top: 5%;
  background-color: #c4c4c4;
  border-radius: 0px 0px 10px 10px;
  color: #000;
  display: flex;
  width: 100%;
  align-items: baseline;
  place-content: center;
}

.login_footer a {
  color: #0030DB;
}

.card_login{
  background-color: #674278;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.site-card-border-less-wrapper{
    text-align: -webkit-center;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 30%;
    left: 35%;
}
.page_title{
  background-color: #c4c4c4;
  color: #000;
}

.ant-btn{
  justify-self: center;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.ant-input{
  height: 30px;
  margin-bottom: 15px;
  width: 400px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.div1{
  display: grid;
}

.text{
  display: flex;
  margin: 0px;
  margin-left: 95px;
}*/