.MuiContainer-maxWidthLg {
    max-width: 4000px !important;
}
.MuiAppBar-colorPrimary {
    background-color: rgba(84, 108, 94, 0.99) !important;
}

.MuiAppBar-root{
    height: 90px !important;
    padding-top: 20px;
}

.navbarDisplayFlex {
    display: flex;
}
.navDisplayFlex {
    display: flex;
}
.linkText {
    text-Decoration: none;
    text-Transform: uppercase;
    color: white;
}
.teste{
    display: block !important;
    margin-left: 20px;
}
.teste span{
    font-size: 16px !important;
}

Link{
    color: #fff;
}
